.footer
{
    font-size: 15px;
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: row;
    gap: 8%;
    flex-wrap: wrap;
}
#mondayl
{
    width: 120px;
    height: 50px;
}
.flogo
{
    width: 20px;
    margin-right: 2px;
    height: 20px;
}
.multiplelogosectionbykrati
{
    display: flex;
    gap:30%;
    width: 100%;
    flex-wrap: wrap;
}
.icons-wrapper
{
    gap:5px;
    display: flex;
}
.arrow-down-icon
{
    width: 20px;
    height: 20px;
}